body {
    padding: 0px;
    margin: 0px;
    background: #63BCE5;
}

.sidebar {
    position: fixed;
    width: 150px;
    height: 100%;
    background: #4B9FE1;
    padding: 10px;
    margin: 0px;
    line-height: 2.5;
    z-index: 2;
    text-align: center;
}
  
.content {
    height: 100%;
    width: auto;
    margin-left: 170px;
    position: relative;
    overflow: auto;
    z-index: 1;
}

button.navbutton {
    font-size: x-large;
    width: 100%;
    font-family: "Rubik", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    background-color: #4A5FC1;
    color: #E1FCFD;
}

button.navbutton:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.04);
}

@media (min-width:600px) {
    .sidebar {
        width: 210px;
    }
    .content {
        margin-left: 230px;
    }
}

h1 {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: xxx-large;
    color: #373A36;

}

div.stuff {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

div.chnk {
    padding: 20px;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    max-width: 400px;
    background-color: #4B9FE1;
    border-radius: 20px;
    margin: 5px;
    font-family: "Rubik", sans-serif;

}

img {
    max-width: 100%; /* Adjusting image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    max-width: 1300px;
    margin: auto;

  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #4B9FE1;
    border-radius: 20px;
    margin: 5px;
  }


@media (max-width:1000px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}