body {
    background-color: #DFDBE5;
    padding: 50px;
    padding-top: 10px;
    font-family: "Gabarito", sans-serif;

}

h1 {
    text-align: center;
    font-size: 30pt;
}

h2 {
    line-height: 10px;
}

div.sort {
    text-align: right;
}

select {
    font-family: "Gabarito", sans-serif;
    border-radius: 5px;
    background-color: #c6bbd6;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    font-size: 12pt;
    background-color: #dcd6e6;
    cursor: pointer;
    scale: 1;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover {
    box-shadow: 5px 10px 15px #888888;
    scale: 1.03;
}


dialog {
    width: 50%;
    padding: 10px;
    background-color: bisque;
    max-width: 650px;
    min-width: 350px;
    border-radius: 10px;
}

div.modal-content {
    margin-top: -20px !important;
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
}

dialog .close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

h1.modal-title {
    margin-right: 33px;
    margin-left: 33px;
}

dt {
    font-weight: bold;
}